@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to SammysAuto plz login</h2>


<div>
    <div class="row form-border">
        <h3>Ocena</h3>
        <h3>Modele: </h3>
        <h4>Atrybuty dotyczące ograniczeń danych (własne walidatory): 15% - 2 własne walidatory w modelu Cars</h4>
        <h4>atrybuty dotyczące widoków: 10% - View Model dla samochodow i użytkowników</h4>
        <h4>minimum 2 tabele z relacją jeden-do-wiele: 10% - Services i Cars zawierają klucze</h4>
        <h3>Kontrolery: </h3>
        <h4>powiązanie uprawnień zalogowanych userów z kontrolerami (atrybuty wykorzystujące role): 10% - Użytkownik i Admin posiadaja ograniczenia na poziomie kontrolwerów i widoków</h4>
        <h4>logowanie i przynależność do ról: 10% - jest : P</h4>
        <h4>LINQ: 10% - Tylko jeden bardzo prosty przykład w Kontrolerze ServiceTypes wiec tak nie wiem 3-4 % prosze : P</h4>
        <h3>Widoki: </h3>
        <h4>widoki pisane w Razor + przekazywanie danych do widoku: 7% - Np wyszukiwanie użytkowników jest przykładem</h4>
        <h4>umiejętność + przykład ręcznego rozszerzenia widoku: 7% - Punkt wyżej jest</h4>
        <h4>widoki częściowe + komunikacja z widokiem podstawowym: 7% - Np Buttony moje</h4>
        <h4>zastosowanie podstawowych helperów + definicja własnych: 7% - Używane byly tylko podstawowe Html helpery i wbuddowane taghelpery(asp-for etc.) 2 % ?</h4>
        <h4>zastosowanie layoutów: 7% - nope</h4>
    </div>
    <h3>Ocena proponowana: 79% - 35% za Modele 22% za kontrolery 21% za Widoki.</h3>
</div>
